section {
  max-width: 600px;
  min-width: 300px;
  border: thin solid red;
  padding: 8px 4px;
  float: right;
  right: 0;
}

input {
  width: 100%;
  margin: 3px;
  display: block;
}

select {
  width: 100%;
  margin: 3px;
  display: block;
  text-align: center;
}
